button.menu-button-mobile.m-l-1.btn.btn-primary,
button.menu-button-mobile.m-l-1.btn.btn-primary:hover {
    background-color: transparent !important;
    color: black !important;
    border: none;
    font-size: 1.5rem;
}
.primary-button{
    padding:0.5rem 2rem !important;
    background-color: transparent !important;
    color: inherit !important;
    float: right;
    margin-top: 2rem !important;
}

.max-w-40{
    max-width: 40rem !important;
}

img{
    height: auto !important;
}

.w-25{
    width: 25rem !important;
}

.g-2{
    gap: 2rem !important;
}

img{
    max-width: 100% !important  ;
    height: auto !important;
}

img{
    height: auto !important;
}
.w-30{
    width: 30rem !important;
}

.w-37{
    width: 37rem !important;
}
